body{
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 70px;
}

.page{
	width: 1200px;
	background-color: #fff;
	margin: 0 auto;
}

h3{
	color: #c7c1b6;
}

h2{
	color: #626262;
	font-family: "PlayfairDisplay";
}

h4{
	color: #626262;
	font-size: 15px;
  	font-family: "PlayfairDisplay";
}



.logo{

	display: flex;
	justify-content: space-between;

}


.nav{

}

.nav__link{
	margin: 0 50px;
	text-decoration: none;

	transition: color .2s linear;
}

.nav__link:hover {
	color: #e06493;
}

.header_img{
	margin-top: 75px;
	margin-right: 0;
}

.page2{
	width: 898px;
	height: 1448px;
	margin: 0 auto;

}

.text1{

}

.row1{
	width: 419px;
	margin-right: 25px;
	margin-bottom: -143px;
	display: inline-block;
}



.row2{
	width: 419px;
	margin-left: 30px;
	margin-bottom: 135px;
	display: inline-block;
}


.row3{
	width: 419px;
	margin-right: 25px;
	margin-bottom: 125px;
	display: inline-block;
}

.row4{
	width: 419px;
	margin-left: 30px;
	margin-bottom: 125px;
	display: inline-block;
}


.newsletter{
	background-color: #f0f0f0;
	width: 1200px;
	height: 287px;
	margin-bottom: 137px;
}


#newsletter{
	font-family: "Times New Roman";
	text-align: center;
}

.newsletter__input{
	text-align: center;
}

.row5{
	width: 625px;
	margin: 0 auto;
	margin-bottom: 80px;

}

.row6{
	width: 625px;
	margin: 0 auto;
	margin-bottom: 135px;
}

#travel{
	text-align: center;
}

#row1_txt{
	width: 420px;
	height: 280px;	
	text-align: center;
}


#row2_txt{
	text-align: center;
}

#row3_txt{
	text-align: center;
}

#row4_txt{
	text-align: center;
}

#row5_txt{
	text-align: center;
}

#MUSIC{
	text-align: center;
}

#row6_txt{
	text-align: center;
}

.btn{
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	width: 140px;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	padding-top: 13px;
	margin: 0 auto;

}

.btn__link{
	text-decoration: none;
	color: black;
	transition: color .2s linear;
}

